.hide {
    display: none
}

@keyframes title {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#titleEl {
    animation-name: example;
    animation-duration: 3s;
    font-size: 80pt;
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 800;
}

#instructionsTitleEl {
    animation-name: example;
    animation-duration: 3s;
}

#instructionsEl {
    animation-name: example;
    animation-duration: 3s;
}

@keyframes example {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.btn {
    animation-name: example;
    animation-duration: 6s;
    font-family: fantasy;
    
}