.hide{
    display: none;
}

.card{
    position: relative;
    margin: 0 auto;
    top: 300px;
    font-family: "Big Shoulders Text", cursive;
    font-weight: 800;
}

.list-group{
    position: relative;
    top: 50%;
}

button{
    position: relative;
}

#points-box{
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 80px;
    text-align: center;
    font-family: 'helvetica';
}

.button-container{
    position: relative;
    margin: 0 auto;
}